.cart-sidebar{
    position: fixed;
    top: 0;
    right: -400px;
    width: 380px;
    height: 100vh;

    background: #111;
    color: white;

    z-index: 999999;

    transition: right .3s ease;

    overflow-y: auto;

    border-left: 2px solid #d4ff00;

    padding: 20px;

    margin: 0;

    transform: none !important;
}
.cart-sidebar.active{
    right:0;
}

.cart-sidebar.active{
right:0;
}

.cart-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.cart-header h2{
font-size:24px;
}

.cart-header span{
font-size:26px;
cursor:pointer;
}

.cart-item{
display:flex;
gap:15px;
background:#1a1a1a;
padding:12px;
border-radius:12px;
margin-bottom:15px;
}

.cart-item img{
width:70px;
height:70px;
object-fit:cover;
border-radius:10px;
}

.cart-details{
flex:1;
}

.cart-details h4{
margin-bottom:6px;
}

.cart-price{
color:#d4ff00;
font-weight:bold;
margin:5px 0;
}

.qty-box{
display:flex;
align-items:center;
gap:8px;
margin-top:8px;
}

.qty-btn{
width:30px;
height:30px;
border:none;
background:#d4ff00;
border-radius:6px;
font-weight:bold;
cursor:pointer;
}

.remove-btn{
margin-top:10px;
background:#ff3b3b;
border:none;
color:#fff;
padding:6px 12px;
border-radius:6px;
cursor:pointer;
}

.cart-footer{
margin-top:20px;
border-top:1px solid #333;
padding-top:20px;
}

.checkout-btn{
width:100%;
padding:14px;
border:none;
background:#d4ff00;
font-weight:bold;
border-radius:10px;
cursor:pointer;
margin-top:15px;
}